<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('statics', path='css/style.css') }}">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
  </head>
  <body>
    <div class="main-container">
        <form class="note-form" id="noteForm" action="{{url_creation}}" method="POST">
        <div class="header-div-category-form" style="display: flex; justify-content: center">
            <div class="div-flex"> 
                <label for="category" class="p-note" style="color: white; font-size: 12pt;"> Название категории: </label> 
            </div>
            <div class="div-flex" style="margin-left: 5px;"> 
                <textarea name="category_title" minlength="1" maxlength="20" rows="1" style="margin-left: 3px; width: 90%;" required ></textarea>
            </div>
        </div>
        <div class="button-container" style="margin-top: 10px">
        <button type="submit" class="button-in-cont" style="left: 5%; width: 100px; font-size: 10pt;">Создать</button>
        <button class="button-in-cont" style="right: 5%; text-decoration: none; font-size: 10pt; width: 110px;" onclick="closeNow()">Закрыть окно</button>
        </div>
        </form>
           
        </div>
    </div>
    <script>
        function closeNow() {
        setTimeout(() => {
            window.Telegram.WebApp.close();
        }, 100);
    }
        </script>
  </body>
</html>