<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/simple_notes_bot/statics/css/style.css">
  <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
  <div class="main-container" style="background-color: #b3d4e9; max-width: 400px;">
    <div class="header-div-note-form" style="height: 10px">
    </div>
    <div class="div-flex" style="justify-content: center; height:200px">
      <img src="/simple_notes_bot/statics/img/logo.png">
    </div>
    <div class="button-container" style="margin-top: 0px; height: 50px;">
      <a id="user-link" href="" class="button-in-cont" style="left: 15%">Создать заметку</a>
      <button class="button-in-cont" style="right: 15%; background-color: red; font-size: 10pt;" onclick="closeNow()">Закрыть окно</button>
    </div>
  </div>
  <script>
    window.Telegram.WebApp.ready();
    const tg = window.Telegram.WebApp;
    const user = tg.initDataUnsafe ? tg.initDataUnsafe.user : null;

    if (user) {
      const userLink = `create_user?telegram_id=${user.id}`;
      document.getElementById("user-link").href = userLink;
    } else {
      console.error("Не удалось получить данные пользователя.");
      document.getElementById("user-link").innerText = "Не удалось получить данные профиля";
    }

    function closeNow() {
      setTimeout(() => {
          window.Telegram.WebApp.close();
      }, 100);
  }
  </script>
</body>
</html>
