<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('statics', path='css/style.css') }}">
  </head>
  <body>
    <div class="main-container">

        <div class="header-div-note-form" style="display: flex; justify-content: center">
            <div class="div-flex"> 
                <p class="p-note" style="color: white; margin-left: 20px; font-size: 12pt;"> Категория:</p>
            </div>
            <div class="div-flex">
                <p class="p-note" style="color: white; margin-left: 20px; font-size: 12pt;"> {{category}} </p>
            </div>  
        </div>
            <div class="note-div" style="padding-bottom: 10px">
                <div class="note-header-div">
                    <p class="p-note" style="color: white; margin-left: 20px; font-size: 12pt;"> {{note.title}} </p>
                </div>
                {% if note.link_to_forwd_msg %}
                <div>
                    <p class="p-note" style="margin-left: 10px">Ссылка:</p>
                </div>
                <div>
                    <a class="p-note" style="margin-left: 10px" href={{tg_url}}>{{tg_url}}</a>
                    <input type="hidden" id="tg_url" name="tg_url" value={{tg_url}} />
                </div>
                {% endif %}
                <div> 
                    <p class="p-note" style="color: black;  margin: 0px 5px; font-size: 10pt; white-space: pre-line; word-wrap: break-word; word-break: break-all;"> {{note.text}} </p>
                </div>
                {% if note.is_pinned %}
                <div>
                    <p class="p-note" style="color: black; margin: 10px 5px; font-size: 8pt;"> Заметка закреплена </p>
                </div>   
                {% endif %} 
            </div>
            <div class="button-container">
                <a href={{current_url}} class="button-in-cont" style="left: 5%;">Назад</a>
                <a href="/notes/{{note.id}}/edit?user_id={{user_id}}" class="button-in-cont" style="right: 30%;">Редактировать</a>
                <a href="/categories?user_id={{user_id}}&user_token={{user_token}}" class="button-in-cont" style="right: 5%; background-color: red;">Удалить</a>
            </div>
    </div>
  </body>
</html>
