<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('statics', path='css/style.css') }}">
  </head>
  <body>
    <div class="main-container">
        <form class="note-form" id="noteForm" action="/successful_note_creation" method="POST">
        <div class="header-div-note-form" style="display: flex; justify-content: center">
            <div class="div-flex"> 
                <label for="category" class="p-note" style="color: white; margin-left: 20px; font-size: 12pt;"> Категория: </label> 
            </div>
            <div class="div-flex">
                <select id="category" name="category_title" style="margin-left: 20px">
                    <option value="" disabled selected> Выберите категорию </option>
                    {% for cat in user_categories %}
                    <option name="category_title" value="{{cat}}"> {{cat}} </option>
                    {% endfor %}
                </select>
            </div> 
        </div>
            <div class="note-div" style="padding-bottom: 10px">
                <div class="note-header-div-note-form">
                    <div> 
                        <label for="note-title" class="p-note" style="color: white; margin-left: 5px; font-size: 12pt;"> Название заметки: </label>  
                    </div>
                    <div style="margin-top: 5px"> 
                        <textarea name="note_title" minlength="1" maxlength="20" rows="1" style="margin-left: 3px; width: 95%;" required placeholder="Введите название заметки..."></textarea>
                    </div>
                </div>
                {% if tg_url%}
                <div>
                    <p class="p-note" style="margin-left: 10px">Ссылка на пересланное сообщение:</p>
                </div>
                <div>
                    <a class="p-note" style="margin-left: 10px" href={{tg_url}}>{{tg_url}}</a>
                    <input type="hidden" id="tg_url" name="tg_url" value={{tg_url}} />
                </div>
                {% endif %}
                <div style="margin-top: 10px"> 
                    <div> 
                        <label for="note-text" class="p-note" style="margin-left: 10px"> Текст заметки: </label>  
                    </div>
                    <div> 
                        <textarea name="note_text" minlength="1" maxlength="500" rows="20" style="margin-left: 10px; width: 95%;" required placeholder="Введите текст заметки..."></textarea>
                    </div>
                </div>
                {% if user_pinned_notes < 7 %}
                <div class="div-flex" style="margin-left: 10px">
                    <div class="div-flex">
                        <input type="checkbox" id="pin-note" name="note_pin" default="False">    
                    </div>
                    <div class="div-flex">
                        <label for="pin-note" class="p-note">Закрепить заметку</label>
                    </div>
                </div>   
                {% endif %} 
            </div>
            <input type="hidden" id="user_telegram_id" name="user_id" value={{user_id}} />
            <input type="hidden" id="user_telegram_id" name="user_token" value={{user_token}} />
            <button type="submit" class="button" style="width: 90%">Создать заметку</button>
        </form>
    </div>
  </body>
</html>