<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/simple_notes_bot/statics/css/style.css">
  </head>
  <body>
    <div class="main-container">
      <div class="header-div">
        <p class="p-note" style="color: white;"> Заметки категории {{category_title}}:</p>    
      </div>
      {% for note in noties %}
      <a href="/simple_notes_bot/notes/{{note.id}}?category_id={{category_id}}&num_note_pgs={{num_note_pgs}}&current_page={{current_page}}&user_id={{user_id}}&user_token={{user_token}}">
          <div class="note-div">
              <div class="note-header-div">
                   <p class="p-note" style="color: white;">{{note.title}} {% if note.is_pinned%}✔{% endif %}  </p> 
              </div>
            <div class="div-flex" style="max-width: 450px;">
             <p class="p-default" style="padding-left: 10px"> Текст: </p>
             <p class="p-default" style="padding-left: 10px; font-weight: bold; word-wrap: break-word; word-break: break-all;"> {{note.shorting_text}}  </p>
            </div>
    
            {% if note.link_to_forwd_msg%}
            <div class="div-flex" style="max-width: 450px;">
              <p class="p-default" style="padding-left: 10px"> Ссылка: </p>
              <p class="p-default" style="padding-left: 10px; font-weight: bold"> {{note.link_to_forwd_msg}}  </p>
             </div>
            {% endif %}
    
            <div class="div-flex">
             <p class="p-default" style="padding-left: 10px"> Дата:</p>
             <p class="p-default" style="padding-left: 10px; font-weight: bold"> {{note.updated_at_str}} </p>
            </div>
          </div>
      </a>
      {% endfor %}
      
      <div class="button-container" style="max-width: 100%; justify-content: center; align-items: center;">
         {% if current_page > 1 %}
            <a href="{{back_url}}" class="button-in-cont" style="left: 5%;"> Назад </a>
          {% endif %}
            <div class="div-flex" style="position: relative; left: 22%; font-size: 14pt">
            стр. {{current_page}}/{{num_note_pgs}}
            </div>
          {% if current_page < num_note_pgs %}
            <a href="{{forw_url}}" class="button-in-cont" style="left: 42%;"> Вперед </a>
          {% endif %}
          <a href="{{to_categories_url}}" class="button-in-cont" style="white-space: nowrap; right: 5%;">К категориям</a>
      </div>
  </body>
</html>