<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('statics', path='css/style.css') }}">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
  </head>
  <body>
    <div style="background-color: green; text-align: center;">
      <p class="p-default" style="color: white">{{info_message}} </p>
    </div>
    <div class="main-container">
      <div class="header-div">
        <p class="p-category" style="color: white;">Выберите категорию заметок:</p>    
      </div>
      {% for category in categories %}
      <a href="{{category.notes_link}}">
      <div class="category-div">
          <div class="category-header-div" style="background: {{category.color}}">
               <p class="p-category" style="color: white;">{{category.title}}</p> 
          </div>
        <div class="div-flex">
         <p class="p-default" style="padding-left: 10px"> Название последней заметки:</p>
         <p class="p-default" style="padding-left: 10px; font-weight: bold"> {{category.latest_note.title}} </p>
        </div>
        <div class="div-flex" style="max-width: 450px;">
         <p class="p-default" style="padding-left: 10px"> Текст: </p>
         <p class="p-default" style="padding-left: 10px; font-weight: bold; word-wrap: break-word; word-break: break-all;"> {{category.latest_note.text}}  </p>
        </div>
        <div class="div-flex">
         <p class="p-default" style="padding-left: 10px"> Дата:</p>
         <p class="p-default" style="padding-left: 10px; font-weight: bold"> {{category.latest_note.updated_at}} </p>
        </div>  
      </div>
    </a>
      {% endfor %}
      <div class="button-container">
        {% if num_of_categories < 5 %}
        <a href="/simple_notes_bot/categories/new?user_id={{user_id}}&user_token={{user_token}}" class="button-in-cont" style="left: 5%;">Создать категорию</a>
        {% endif %} 
        <button class="button-in-cont" style="right: 5%; text-decoration: none; font-size: 10pt;" onclick="closeNow()">Закрыть окно</button>
      </div>
    </div>
    <script>
      function closeNow() {
      setTimeout(() => {
          window.Telegram.WebApp.close();
      }, 100);
  }
      </script>
  </body>
</html>
